.password-input-container {
  position: relative;
  --offset-from-top: 5.5px;

  &:has(label) {
    --offset-from-top: 29.5px;
  }

  .toggle-password-visibility-btn {
    min-width: fit-content;
    padding: 0.8rem;
    border-radius: 0.25rem;
    position: absolute;
    top: var(--offset-from-top);
    right: 5.5px;
  }
}
